.loading-animation {
  animation: loading-pan step-start infinite;
  transition: none;
}

@keyframes loading-pan {
  11% {
    transform: translate3d(0px, 0px, 0px);
  }
  22% {
    transform: translate3d(4px, 0px, 0px);
  }
  33% {
    transform: translate3d(8px, 0px, 0px);
  }
  44% {
    transform: translate3d(0px, 4px, 0px);
  }
  55% {
    transform: translate3d(4px, 4px, 0px);
  }
  66% {
    transform: translate3d(8px, 4px, 0px);
  }
  77% {
    transform: translate3d(0px, 8px, 0px);
  }
  88% {
    transform: translate3d(4px, 8px, 0px);
  }
  99% {
    transform: translate3d(8px, 8px, 0px);
  }
}
